<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="/fileUpload" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<br>
		<input type="submit">
	</form>
	
	<div style="width: 100px;height: 100px;background-color: #808080">
	
	</div>
	<!-- <form action="../addStudent" method="post" enctype="multipart/form-data">
		<input type="text" name="studentName">
		<br>
		<input type="text" name="studentAge">
		<br>
		<input type="text" name="studentSex">
		<br>
		<input type="text" name="classId">
		<br>
		<input type="submit">
	</form> -->
	
	<!-- <form action="../siwo/test111" method="get" enctype="multipart/form-data">
		<input type="date" name="PromotionTime">
		<input type="date" name="GraduationTime">
		<br>
		<input type="submit">
	</form>
	
	<h1>下载</h1>
	<a href="../download?name=100720-1564711640c666.jpg">哪吒</a>
	<hr>
	<a href="../download2?name=100720-1564711640c666.jpg">123</a>
	
	<hr>
	<h1>多文件上传</h1>
	<form action="../uploads" method="post" enctype="multipart/form-data">
		multiple:可以选择多个文件
		<input type="file" name="files" multiple="multiple">
		<input type="submit">
	</form>
	
	<hr>
	<h1>多文件下载</h1>
	<form action="../downloads">
		<label>
			<input type="checkbox" name="names" value="212006-1510838406ba07.jpg">
		</label>
		<label>
			<input type="checkbox" name="names" value="100720-1564711640c666.jpg">
		</label>
		<label>
			<input type="checkbox" name="names" value="224601-1567349161ffe8.jpg">
		</label>
		<br>
		<input type="submit">
	</form> -->
</body>
</html>